<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<link href="StyleSheet.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="Script/NativeApp.js"></script>
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <title></title>
</head>
<body ng-app="NativeApp">
	<div class="body-content" ng-controller="NativeCtrl">
		<div class="centre">
			<div class="heading">
				<h2>Find out the Native way to pronaunce a Country´s name</h2><br/>
				<input id="sbCountry" type="text" ng-model="sbCountry"/><input type="button" id="btnSearch" ng-click="search()"  value="Sök.."/><br />
				<h4 ng-show="countryLabel">Did you mean <span ng-click="dymCountryFunc()" class="dymSpan">{{dymCountry}}</span></h4>
				<h4 ng-show="countryLabel" ng-click="countries=true" class="dymSpan">If No, click here</h4>
				<h4 ng-show="results">No results found</h4>
			</div>
			<div ng-show="countries" class="flag-section">
				<h4>Pick a country</h4>
				<div style="background-color:white;">
					<ul style="list-style:none;">
						<li ng-repeat="x in pickableCountries" ng-click="countryPicked(x)">{{x.fullname}}</li>
					</ul>
				</div>
			</div>
			<div class="flag-section" ng-show="foundCountry">
				<h2>English name: {{englishName}}</h2>
				<h2>Native name: {{nativeName}}</h2>
				<img id="flagImage" ng-src="{{img_url}}" />
			</div>
		</div>
	</div>
</body>
</html>